.footer {
    width: 100%;
    padding: 81px 0;
    background-color: #202329;
}

.general-infos, .server-status, .logos, .social-media, .developed-by {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general-infos p {
    font-size: 15px;
    font-weight: 700;
    color: #9E9E9E;
    margin-right: 25px;
}

.server-status {
    margin-top: 15px;
}

.server-status p {
    font-size: 15px;
    font-weight: 700;
    color: #9E9E9E;
    margin-right: 10px;
}

.server-status div {
    background-color: #55CC44;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.logos {
    margin: 35px 0 45px 0;
}

.logos img {
    width: 120px;
    height: 65px;
    margin-right: 20px;
}

.social-media svg {
    width: 25px;
    height: 25px;
    margin-right: 30px;
    color:rgb(158, 158, 158);
}

.developed-by {
    margin-top: 35px;
}

.developed-by a {
    color: #F5F5F5;
    font-size: 15px;
    border-bottom: 2px solid rgb(255, 152, 0);
    font-weight: 700;
    text-decoration: none;
    margin: 0 5px;
    transition: all ease 0.5;
}

.developed-by a:hover {
    color: rgb(255, 152, 0);
    border-bottom: 2px solid #202329;
}

.developed-by p {
    color: #9E9E9E;
    font-size: 15px;
    font-weight: 400;
}