.header {
    width: 100%;
    display: flex;
    padding: 5px 9px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-bottom: 1px solid rgb(239, 238, 239);
}

.header img {
    width: 110px;
    justify-content: center;
}

.header div ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 150px;
    align-items: center;
}

.header div ul li {
    list-style: none;
    margin: 0 30px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.header div ul li a {
    text-decoration: none;
    color: #333333;
    transition: all ease 0.1s;
}

.header div ul li a:hover {
    color: #FF9800;
}

.button-support-us {
    background-color: #FFF;
    padding: 11px 20px;
    border-radius: 9px;
    border: 1px solid #FF9800;
    font-size: 15px;
    font-weight: bold;
    transition: all ease 0.1s;
}

.button-support-us:hover {
    background-color:  #FF9800;
    color: #FFF;
    cursor: pointer;
}

.button-mode {
    padding: 11px 20px;
    border-radius: 9px;
    border: 1px solid #bebebe;
    font-size: 15px;
    font-weight: bold;
}

.button-mode {
    cursor: pointer;
}

